#quotes{
    padding: 98px;
}
/* .quotes{
    padding-top: 98px;
} */
.quotes .form-control{
    width: 200px;
}

.quotes-content .btn:hover{
    color: #fff;
    background-color: #0d6efd;
    border-color:#0d6efd ;
}
