{% extends 'layout-admin.html' %}
{% block title %}
<title>All Books</title>
   <style>
    a.btn-primary:hover{
        border:1px solid blue;
        background:white;
        color:blue;
        transition:all 0.2s ease;
    }

    a.btn-danger:hover{
        border:1px solid red;
        background:white;
        color:red;
        transition:all 0.2s ease;
    }//
</style>
{% endblock%}

{% block main_content %}
<div class="container">
    <div class="row mt-5">

        <div class="col-md-10 offset-md-1 mt-5">
            {% include 'messages.html' %}

            <div class="card px-4">
                    <div class="header-title d-flex py-2">
            <h1 class="text-center fs-4 fw-bold my-3">All Books</h1>

            <a class="btn btn-primary my-3 py-2 btn-sm ms-auto"
                href="/pickabook/books_form"
                >Add New Book</a>
                </div>
                <table class="table table-hover table-bordered">
                    <tr class="">
                        <th class="col-md-3">Book Title</th>
                        <th class="col-md-2">Image</th>
                        <th class="col-md-3">Book</th>
                        <th class="col-md-1">Author</th>
                        <th class="col-md-2">Category</th>
                        <th class="col-md-3">Date</th>
                        <th class="col-md-1">Actions</th>
                    </tr>
                    {% for i in book %}
                    <tr>
                        <td> {{ i.book_title }}</td>
                        <td> <img src="/{{i.book_image}}" width="60"> </td>
                        <td> <a href="/fileurl">{{ i.book_pdf }}</a></td>
                        <td>{{i.book_author}}</td>
                        <td> {{ i.category.category_name }}</td>
                        <td> {{ i.created_date }}</td>
                        <td><a class="btn btn-primary btn-sm mb-2" href="/news/update_news/{{i.id}}">Edit</a> &nbsp;
                            <a class="btn btn-danger btn-sm"
                               href="/news/delete_news/{{i.id}}"
                               onclick="return confirm('Are you sure want to delete this news?')" >Delete</a></td>

                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}