{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
    <title>Contact Us</title>
<style>
    body{
    height: 100vh;
    position: relative;
    color: white;
    Background:url(/static/images/background2.jpg)
}
button{
    margin-left:50px
}
</style>
{% endblock%}

{% block main_content %}

<body>
<div class="container mt-5 pt-3">
<div class="row mt-5">

    <div class="col-md-6 offset-md-3">
        <h1 class="text-center fw-bold text-light">Contact Us</h1>
          {% include 'messages.html'%}
        <div class="card py-2 ps-5 m-4 bg-transparent text-light">
        <form class="form myForm" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | bootstrap_horizontal }}
            <button type="submit" class="btn btn-dark  mt-3 px-4" style="margin-left:160px">Submit</button>
        </form>
    </div>
    </div>
</div>
</div>
</body>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[2].placeholder = "Enter name"
    form_fields[3].placeholder = "Enter phone"
    form_fields[4].placeholder = "Enter email"
    form_fields[5].placeholder = "Enter topic"
    form_fields[6].placeholder = "Message us here......"



   for(field in form_fields){
   form_fields[field].className += ' my-3'
   }
</script>

{% endblock %}