<style>
.image_zoom{
transition: transform .2s;
padding:10px;
}
.image_zoom:hover{
transform: scale(1.3);
overflow:hidden;
}

.card-top{
overflow:hidden;
}

</style>

{% extends 'layout.html' %}
{% load static %}
{% block title %}

<title>Books</title>
{% endblock title %}

{% block main_content %}






<div class="arrow">
  <a href=""><i class="fa fa-angle-up text-light" aria-hidden="true"></i></a>
 <span class="arr">Go to top</span>
</div>

<nav aria-label="breadcrumb mx-5" class="breadcrumb">
    <ol class="breadcrumb mx-5">
      <li class="breadcrumb-item"><a href="homepage_login.html">Home</a></li>
      <li class="breadcrumb-item"><a href="/pickabook/genres">Genres</a></li>
      <li class="breadcrumb-item active" aria-current="page">All books</li>
    </ol>
  </nav>

<section id="recommendation" class="allbooks">
  <div class="container py-3 ">
      <div class="title text-center">

          <h4 class="fs-1 pb-5 mb-5"> <span> Motivational/biographies</span></h4>
      </div>
      <div class="row mt-5 ">
  {% include 'messages.html' %}
        {% for i in category.books_set.all  %}
        <div class="best-books col-md-3 col-sm-3">
          <div class="card" style="width: 16rem; ">
            <div class="img">
              <img src="/{{i.book_image}}" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-title fw-bold fs-5">{{i.book_title}}</p>
              <p class="card-text">{{i.book_author}}</p>

            </div>
            <div class="best-hover text-center">
              <a href="/pickabook/book" class="pb-3">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              <a href="/{{i.book_pdf}}" class="py-3">Download </a>
            </div>
          </div>

        </div>
    {% endfor %}
    </div>
    <nav aria-label="Page navigation example" class="py-4">
      <ul class="pagination justify-content-end me-5">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</section>




















{% endblock main_content %}